
/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{ 
    max-width: 1280px; /*largura*/
    margin: 0 auto; /*centralizar*/
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #8257e6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* aplica o efeito ao botão */
button:hover{
    box-shadow: 0px 0px 8px #8257E6;
    transform: scale(1.05);
}

/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Mudar cor da lertra e tirar sublinhado. Converte o link de inline-level para block-level ou inline-block*/
header a{ 
    color: #4a425e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
/* quando passar o mouse emcima dar um pequeno zoo e mudar a cor */
header a:hover{
    color: #8257E6;
    transform: scale(1.05);
}

/* tira os pontos da lista */
header nav ul{
    list-style-type: none;
}
/* adiciona um ao lado do outro e arruma o espaçamento */
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Botão de redes sociais */
.topo-site .txt-topo-site .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #8257e6;
    font-size: 25px;
    cursor: pointer;
    margin: 15px 5px; /* altura e distancia*/
    transition: .2s;
}

/* Estilo do topo do site */
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color: #8257e6;
}

.topo-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

/* chama a classe img para aplicar a animação */
.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate; /* tempo, velocidode, continua e caminha de ida e volta*/
}

/* Animação img */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo do sobre */
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h1{
    font-size: 20px;
    line-height: 60px;
}
.sobre .txt-sobre h2{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #8257E6;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}